<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">Disfruta de lo mas asombroso en animales que tenemos y cuidamos.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg z-m-r-sm" [routerLink]="['/animales']" role="button">Ver los animales</a>
    <a class="btn btn-success btn-lg z-m-r-sm" [routerLink]="['/cuidadores']" role="button">Ver los cuidadores</a>
    <a class="btn btn-warning btn-lg z-m-r-sm" [routerLink]="['/contactos']" role="button">Ir a contacto</a>
  </p>
</div>
