<div>
  <h2>Mi lista de parques</h2>
  <table border="1">
    <thead>
      <th width="10%">ID</th>
      <th width="30%">Nombre</th>
      <th width="20%">Tipo</th>
      <th width="10%">Activo</th>
      <th width="30%"></th>
    </thead>
    <tbody>
      <tr *ngFor="let park of listParks; let i = index">
        <td>{{park.id}}</td>
        <td>{{park.name}}</td>
        <td>{{park.type}}</td>
        <td>{{park.active ? "Si" : "No"}}</td>
        <td>
          <app-destroy-park [listParks]="listParks" [park]="park" (sendListParks)="getListParks($event)"></app-destroy-park> | <a href="#" (click)="showPark(park)">Ver</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
